.bzrignore
.bzr/
build*/
dist/
QtBuild/
BuildXcode/
nbproject/private/private.xml
nbproject/.DS_Store
*.user

nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

vgcore.*

# macOS
**/*.xcodeproj/project.xcworkspace/xcuserdata
**/.DS_Store
**/._*
